<div class="smart-fit-main">
    <header class="smart-fit-header">
      <div class="smart-fit-logo">
        <img src="https://raw.githubusercontent.com/bioritmo/front-end-code-challenge-smartsite/6166eb01495c1c44064b2181fcac9760f8bedd15/_material/images/logo.svg" alt="">
      </div>
    </header>
    <div class="smart-fit-container">
      <div class="smart-fit-title">
        <h1>REABERTURA SMART FIT</h1>
        <div class="smartfit-div"></div>
      </div>
      <div class="smart-fit-subtitle">
        <h2>
          O horário de funcionamento das nossas unidades está seguindo os decretos de cada municipio. Por isso, confira aqui se a sua unidade está aberta e as medidas de segurança que estamos seguindo.
        </h2>
      </div>
      <div class="smart-fit-forms">
        <app-smart-fit-form></app-smart-fit-form>
      </div>
    </div>
    <footer>
      <div class="smart-fit-logo">
        <img src="https://raw.githubusercontent.com/bioritmo/front-end-code-challenge-smartsite/6166eb01495c1c44064b2181fcac9760f8bedd15/_material/images/logo.svg" alt="">
      </div>
    </footer>
  </div>