<div class="smart-fit-forms">
    <form>
        <div class="smart-fit-container-form">
            <div class="smart-form-clock">
                <img src="https://github.com/bioritmo/front-end-code-challenge-smartsite/blob/master/_material/images/icon-hour.png?raw=true"
                    alt="">
                <p>Horário</p>
            </div>
            <div class="smart-form-title">
                <p>Qual período quer treinar?</p>
            </div>
            <div class="smart-form-options">
                <div class="smart-form-radio">
                    <input type="radio" name="webmaster" id="campo-radio1">
                    <label>Manhã</label>
                    <div class="u-flex">
                        <p>06:00 às 12:00</p>
                    </div>  
                </div>
                <div class="smart-form-radio">
                    <input type="radio" name="webmaster" id="campo-radio1">
                    <label>Tarde</label>
                    <div class="u-flex">
                        <p>12:01 às 18:00</p>
                    </div>  
                </div>
                <div class="smart-form-radio">
                    <input type="radio" name="webmaster" id="campo-radio1">
                    <label>Noite</label>
                    <div class="u-flex">
                        <p>18:01 às 23:00</p>
                    </div>  
                </div>
            </div>
            <div class="smart-form-checkbox">
                <input type="checkbox" name="close-unit">
                <label style="width: 100%;">Exibir unidades fechadas</label>
                <div class="smart-form-results u-flex">
                    <span>
                        Resultados encontrados: <strong>0</strong>
                    </span> 
                </div>
            </div>
            <div class="smart-form-button">
                <button class="buttonForm find">ENCONTRAR UNIDADE</button>
                <button class="buttonForm clear">LIMPAR</button>
            </div>
        </div>
    </form>
</div>